html, body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

video#bgvid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}
#harlow {
  position: relative;
  width: 41%;
  margin-top: -40%;
  margin-left: 52%;
  z-index: 100;
}
#harlow h1 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 400;
  font-size: 400%;
  text-align: left;
  padding-left: 3%;
  color: #fcfcfc;
  margin-left: 15%;
  background-color: rgba(0, 0, 0, 0.7);;
}
.portfolio {
  position: relative;
  background-color: #fcfcfc;
  width: 100%;
  height: 600px;
  margin-top: 20%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 80%;
  letter-spacing: 1.5px;
  z-index: 99;
}
#title {
  position: relative;
  width: 70%;
  padding-top: 0.4%;
  margin-left: auto;
  margin-right: auto;
}
#title h1 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 600;
  font-size: 160%;
  letter-spacing: 2px;
  line-height: 80px;
  padding: 0;
}
.portfolio table {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-top: 1px solid #eeeeee;
}
.portfolio td {
  border-bottom: 1px solid #eeeeee;
  height: 80px;
}
.portfolio tr:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
.portfolio h1 {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  letter-spacing: 0;
  font-size: 160%;
  padding-left: 1%;

}


/******** NAV & HEADER ********/
header {
  font-family: 'Helvetica Neue';
  color: #222222;
  background-color: #fcfcfc;
}
nav {
  width: 70%;
  height: 50px;
  margin: 0;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
}
#name {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 600;
  font-size: 100%;
  letter-spacing: 2px;
  margin-top: -0.38%;
  cursor: pointer;
}
#rightmost {
   margin-right: -15px;
}
nav a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  margin-left: auto;
  margin-top: 1.2%;
  padding: 0;
}
nav li {
  display: inline;
  font-weight: 400;
  font-size: 75%;
  letter-spacing: 2px;
  margin-left: 15px;
  cursor: pointer;
}
nav li:hover {
  text-decoration: line-through;
}

/******** FOOTER ********/
footer {
  bottom: 0;
  width: 70%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
footer a {
  text-decoration: none;
  color: #222222;
}
footer ul {
  list-style: none;
  display: inline-flex;
  margin-left: -3.5%;
}
footer li {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 75%;
  letter-spacing: 2px;
  margin-right: 15px;
}
footer li:hover {
  text-decoration: line-through;
}

/******** ANIMATION ********/

.animated {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.delay {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delayOne {
  -webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.delayTwo {
  -webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.delayThree {
  -webkit-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
.delayFour {
  -webkit-animation-delay: 2.8s;
	animation-delay: 2.8s;
}

/******** Fade In ********/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/******** Fade In Right ********/

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

/******** Fade In Left ********/

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

/******** Fade In Up ********/

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
